# Created by .ignore support plugin (hsz.mobi)
.idea/
springboot-elasticsearch/src/test/
springboot-elasticsearch/target/
springboot-kafka/springboot-kafka.iml
springboot-redis/src/test/
springboot-redis/target/
springboot-kafka/target/
